{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Žaidimas/ Viktorina | {{ title }} {% endblock title %}
{% block content %}
{% if not request.user.is_active %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
              <h1 class="mb-3 text-center">Prisijungti</h1>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-info btn-block" value="{{ title }}">
                </form>
              <div class="text-center">
                <p>arba ...</p>
                <a href="{% url 'game:register' %}" class="btn btn-success mb-3">Sukurti paskyrą</a>
              </div>
            </div>
          </div>
        </div>
      </div>
{% else %}

    <section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
      <div class="container text-center">
        <h1 class="display-1 text-info">Pažaiskime</h1>
        <p class="display-4 d-none d-sm-block">Pasitikrink savo žinias ir tapk nugalėtoju.</p>
        <p class="lead">Viktorinos įvairiomis temomis.</p>
        <a href="{% url 'game:play' %}" class="btn btn-lg btn-info mt-1">Žaisti</a>
        <a href="{% url 'game:leaderboard' %}" class="btn btn-lg btn-info mt-1">Lyderiai</a>
      </div>  
    </section>

{% endif %}

{% endblock content %}